<% if params[:controller] == 'about' %>
	<div class="well" style="background:#f4f4f4; padding: 10px;">
		<h3>Location Info</h3>
		<ul>
			<li>Vinnegans's Bookstore</li>
			<li>247 Arriba Drive, Apt. 609</li>
			<li>SUNNYVALE, CA, 94086</li>
			<li>Phone: (347)831-5623</li>
			<li>Email: jingyangzhang0222@gmail.com</li>
		</ul>
	</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div class="list-group">
	  <% @categories.each do |category| %>
	  <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
	  <% end %>
	</div>
<% end %>